/.vs/Queene/v15/.suo
/.vs/Queene/v15/Server/sqlite3/db.lock
/.vs/Queene/v15/Server/sqlite3/storage.ide
/.vs/Queene/v15/Server/sqlite3/storage.ide-shm
/.vs/Queene/v15/Server/sqlite3/storage.ide-wal
/QueeneEngine/bin/Debug/netcoreapp2.0/QueeneEngine.deps.json
/QueeneEngine/bin/Debug/netcoreapp2.0/QueeneEngine.dll
/QueeneEngine/bin/Debug/netcoreapp2.0/QueeneEngine.pdb
/QueeneEngine/obj/Debug/netcoreapp2.0/QueeneEngine.AssemblyInfo.cs
/QueeneEngine/obj/Debug/netcoreapp2.0/QueeneEngine.AssemblyInfoInputs.cache
/QueeneEngine/obj/Debug/netcoreapp2.0/QueeneEngine.csproj.CoreCompileInputs.cache
/QueeneEngine/obj/Debug/netcoreapp2.0/QueeneEngine.csproj.FileListAbsolute.txt
/QueeneEngine/obj/Debug/netcoreapp2.0/QueeneEngine.csprojResolveAssemblyReference.cache
/QueeneEngine/obj/Debug/netcoreapp2.0/QueeneEngine.dll
/QueeneEngine/obj/Debug/netcoreapp2.0/QueeneEngine.pdb
/QueeneEngine/obj/QueeneEngine.csproj.nuget.cache
/QueeneEngine/obj/QueeneEngine.csproj.nuget.g.props
/QueeneEngine/obj/QueeneEngine.csproj.nuget.g.targets
/QueeneEngine/obj/project.assets.json
/QueeneEngineTests/bin/Debug/netcoreapp2.0/QueeneEngine.dll
/QueeneEngineTests/bin/Debug/netcoreapp2.0/QueeneEngine.pdb
/QueeneEngineTests/bin/Debug/netcoreapp2.0/QueeneEngineTests.deps.json
/QueeneEngineTests/bin/Debug/netcoreapp2.0/QueeneEngineTests.dll
/QueeneEngineTests/bin/Debug/netcoreapp2.0/QueeneEngineTests.pdb
/QueeneEngineTests/bin/Debug/netcoreapp2.0/QueeneEngineTests.runtimeconfig.dev.json
/QueeneEngineTests/bin/Debug/netcoreapp2.0/QueeneEngineTests.runtimeconfig.json
/QueeneEngineTests/bin/Debug/netcoreapp2.0/xunit.runner.reporters.netstandard15.dll
/QueeneEngineTests/bin/Debug/netcoreapp2.0/xunit.runner.utility.netstandard15.dll
/QueeneEngineTests/bin/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/QueeneEngineTests/obj/Debug/netcoreapp2.0/QueeneEngineTests.AssemblyInfo.cs
/QueeneEngineTests/obj/Debug/netcoreapp2.0/QueeneEngineTests.AssemblyInfoInputs.cache
/QueeneEngineTests/obj/Debug/netcoreapp2.0/QueeneEngineTests.Program.cs
/QueeneEngineTests/obj/Debug/netcoreapp2.0/QueeneEngineTests.csproj.CopyComplete
/QueeneEngineTests/obj/Debug/netcoreapp2.0/QueeneEngineTests.csproj.CoreCompileInputs.cache
/QueeneEngineTests/obj/Debug/netcoreapp2.0/QueeneEngineTests.csproj.FileListAbsolute.txt
/QueeneEngineTests/obj/Debug/netcoreapp2.0/QueeneEngineTests.csprojResolveAssemblyReference.cache
/QueeneEngineTests/obj/Debug/netcoreapp2.0/QueeneEngineTests.dll
/QueeneEngineTests/obj/Debug/netcoreapp2.0/QueeneEngineTests.pdb
/QueeneEngineTests/obj/QueeneEngineTests.csproj.nuget.cache
/QueeneEngineTests/obj/QueeneEngineTests.csproj.nuget.g.props
/QueeneEngineTests/obj/QueeneEngineTests.csproj.nuget.g.targets
/QueeneEngineTests/obj/project.assets.json
